Repository DataBiosphere/job-manager, pull requests merged in 2018-07, with the labels that each got.

#326 Add deployment docs
  .gitignore
  README.md
  common-compose.yml
  deploy/README.md
  deploy/cromwell/api-config.json
  deploy/cromwell/capabilities-config.json
  deploy/cromwell/docker-compose/README.md
  deploy/cromwell/docker-compose/cromwell-compose-template.yml
  deploy/cromwell/docker-compose/nginx.conf
  deploy/cromwell/kubernetes/README.md
  deploy/cromwell/kubernetes/deployment.yaml
  deploy/cromwell/kubernetes/ingress.yaml
  deploy/cromwell/kubernetes/nginx.conf
  deploy/cromwell/kubernetes/service.yaml
  deploy/dsub/docker-compose/README.md
  deploy/dsub/docker-compose/dsub-compose-template.yml
  deploy/dsub/docker-compose/nginx.conf
  deploy/ui-config.json
  servers/cromwell/README.md
  servers/dsub/README.md
  ui/src/assets/environments/environment.json
  ui/src/environments/config-loader.service.ts
Labels: Documentation

#331 Add support for workflow "on hold" status
  api/jobs.yaml
  servers/cromwell/jobs/controllers/jobs_controller.py
  servers/cromwell/jobs/controllers/utils/job_statuses.py
  servers/cromwell/jobs/swagger/swagger.yaml
  servers/dsub/jobs/controllers/utils/job_statuses.py
  servers/dsub/jobs/swagger/swagger.yaml
  ui/src/app/shared/common.ts
  ui/src/app/shared/header/header.component.html
  ui/src/app/shared/header/header.component.spec.ts
  ui/src/app/shared/header/header.component.ts
  ui/src/app/shared/model/JobStatus.ts
Labels: UI, cromwell shim, dsub shim

#312 Fix pagination for main job list for Cromwell
  servers/cromwell/jobs/controllers/jobs_controller.py
  servers/cromwell/jobs/test/test_jobs_controller.py
  ui/src/app/job-list/job-list.component.spec.ts
  ui/src/app/shared/header/header.component.spec.ts
  ui/src/app/shared/job-stream.ts
Labels: bug, cromwell shim
